@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Meow+Script:regular);
$colors: (
	bg__main: #000,
	color__main-dark: #04494f,
	color__main: #64bebf,
	color__main-transparent: rgba(#daf6ff, 0.4),
	color__main-light: #daf6ff,
	font__secondary: #fe9941,
);
@mixin flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
:root {
	--clip: circle(70% at 50% 20%);
	--top: -100vh;
	--lineWidth: 1.7rem;
	--rotateTop: rotate(0deg);
	--rotateBottom: rotate(0deg);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
li {
	list-style: none;
}
body {
	min-height: 100vh;
	background: map-get($colors, bg__main);
	color: map-get($colors, color__main);
}
section {
	height: 100vh;
	width: 100%;
	position: relative;
	header {
		width: 100%;
		padding: 2rem 0;
		@include flex(row, space-between, center);
		height: 5rem;
		padding: 0 2rem;
		.logo {
			font-family: Meow Script, sans-serif;
			font-size: clamp(1.6rem, calc(1.7077rem + 0.4103vw), 2.2rem);
			cursor: default;
			user-select: none;
		}
		.menu {
			display: none;
			&::before {
				content: "";
			}
		}
		.nav {
			@include flex(row, space-between, center);
			width: clamp(20rem, calc(15.9836rem + 9.1803vw), 27rem);
			font-size: clamp(1rem, calc(0.7705rem + 0.5246vw), 1.4rem);
			li {
				cursor: pointer;
				position: relative;
				color: #0000;
				overflow: hidden;
				z-index: 10;
				a {
					color: inherit;
					text-decoration: none;
				}
				&::before,
				&::after {
					content: attr(content);
					position: absolute;
					top: 0rem;
					left: 0;
					transition: 0.3s;
					color: map-get($colors, color__main-light);
					pointer-events: none;
				}
				&::after {
					top: 1.5rem;
				}
				&:hover {
					&::before {
						top: -1.5rem;
					}
					&::after {
						top: 0;
					}
				}
			}
		}
	}
	.title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: max-content;
		&__el__div {
			font-size: clamp(1.5rem, calc(1rem + 2vw), 5rem);
			line-height: 1;
			&--transparent {
				color: map-get($colors, color__main-transparent);
			}
		}
		&__el__span {
			color: map-get($colors, color__main-light);
			font-size: clamp(0.8rem, calc(0.4615rem + 1.2821vw), 1.2rem);
			&:first-of-type {
				margin-left: 0.3rem;
			}
		}
		&__el--right {
			text-align: end;
			display: block;
		}
	}
}
@media screen and (max-width: 700px) {
	body {
		margin: 0;
	}
	section {
		position: relative;
		header {
			padding: 2rem 1.5rem;
			.menu {
				display: block;
				cursor: pointer;
				height: 1.4rem;
				width: 1.7rem;
				display: flex;
				align-items: center;
				z-index: 1;
				.lines {
					height: 2px;
					width: var(--lineWidth);
					position: relative;
					background-color: map-get(
						$map: $colors,
						$key: color__main-light
					);
					&::before,
					&::after {
						content: "";
						width: var(--lineWidth);
						height: 2px;
						position: absolute;
						left: 0;
						background-color: map-get(
							$map: $colors,
							$key:
								color__main-light
						);
						transform-origin: left;
					}
					&::before {
						top: -0.5rem;
						transform: var(--rotateTop);
					}
					&::after {
						bottom: -0.5rem;
						transform: var(
							--rotateBottom
						);
					}
				}
			}
			.nav {
				width: 100%;
				height: 100%;
				position: absolute;
				top: var(--top);
				// background: linear-gradient(
				// 	45deg,
				// 	map-get($colors, color__main-light),
				// 	map-get($colors, color__main)
				// );
				background: linear-gradient(
					230deg,
					map-get($colors, color__main-dark) 0%,
					map-get($colors, color__main-light) 280%,
					map-get($colors, color__main-light) 280%
				);
				left: 0;
				clip-path: var(--clip);
				pointer-events: none;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				padding: 6rem 0;
				li {
					// opacity: 0;
					font-size: 3rem;
					color: map-get($colors, color__main-light);
					&::before,
					&::after {
						content: none;
					}
				}
			}
		}
		main {
			pointer-events: none;
			user-select: none;
			z-index: -2;
		}
	}
}
// linear-gradient();
